VITE_APP_NAME=Your Company Database Client
VITE_APP_SHORT_NAME=Your DB Client
VITE_APP_LOGO=⚒️
VITE_API_URL=http://localhost:3002
VITE_INACTIVITY_TIMEOUT=300000
VITE_MAX_SESSION_AGE=3600000
VITE_APP_ENV=DEV
